*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}


header{
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.3);
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 140px;
}

header div div a{
    color: white;
    text-decoration: none;
    background-color: burlywood;
    padding: 5px 10px;
    border-radius: 25px;
    transition: 0.2s;

}

header div div{
    margin-top: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
    list-style: none;
    
}

header div div a{
    color: white;
    text-decoration: none;
    background-color: burlywood;
    padding: 5px 10px;
    border-radius: 25px;
    transition: 0.2s;
    
}

header div div a:hover{
    color: white;
    text-decoration: none;
    background-color: burlywood;
    padding: 5px 15px;
    border-radius: 25px;
    transition: 0.2s;
    
}

a{
    color: black;
    text-decoration: none;
}


li{
    list-style: none;
}


.btn{
    transition: 0.5s;
}

.btn:hover{
    padding-right: 15px;
    padding-left: 15px;
    transition: 0.5s;
}



.containerCardCarousel{
    align-items: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

.div-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.div-images img{
    height: 210px !important;
    width: 330px !important;
    border-radius: 20px;
    transition: 0.2s;

}

.div-images img:hover{
    height: 230px !important;
    width: 350px !important;
    transition: 0.2s;
    border-radius: 20px;
}

.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.btn{
    background-color: #DEB887 !important;
    color: white !important;
}